@model IEnumerable<Shop.Net.Web.Models.CartItemViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderedProduct.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderedProduct.Sku)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="cart-item-@item.Id">
            <td>
                @Html.ActionLink(item.OrderedProduct.Name, "Details", "Product", new { area = "Catalog", id = item.OrderedProductId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedProduct.Sku)
            </td>
            <td>
                @Ajax.ActionLink(@"Remove item", "Remove", "Cart", new { area = string.Empty, id = item.Id },
                    new AjaxOptions { HttpMethod = "GET", Confirm = "Are you sure that you want to delete this item?",
                                      InsertionMode = InsertionMode.Replace,
                                      UpdateTargetId = ("cart-item-" + item.Id),
                                      OnSuccess = "updateCartItemCount",
                                    })
            </td>
        </tr>
    }

</table>
<script>
    var cartPage = true;
</script>
