@model  Shop.Net.Web.Areas.BackOffice.Models.CategoryEditModel

@{
    ViewBag.Title = "Edit Category";
}

<h2>@ViewBag.Title - @Model.Name</h2>
@using (Html.BeginForm("Edit", "Categories", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.EditorFor(model => model)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-warning" value="Save Changes" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-info" })
        </div>
    </div>
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}