@model Shop.Net.Web.Models.ViewModelWithPager<IQueryable<Shop.Net.Web.Areas.Catalog.Models.Category.CategoryViewModel>>
@{
    ViewBag.Title = "Categories";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">You can add/edit/delete categories from this panel!</p>
    @Html.ActionLink("Add New Category", "Add", "Categories", new { area = "BackOffice" }, new { @class = "btn-success btn pull-right" })
</div>

<div class="row">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th class="col-lg-1">Id#</th>
                <th class="col-lg-3">Name</th>
                <th class="col-lg-2">Seo Friendly Url</th>
                <th class="col-lg-5">Meta Title</th>
                <th class="col-lg-1">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.ViewModel)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.FriendlyUrl</td>
                    <td>@category.MetaTitle</td>
                    <td>
                        <a class="label label-warning" href="@Url.Action("Edit", new { id = category.Id })">Edit</a>
                        <a class="label label-danger" href="@Url.Action("Delete", new { id = category.Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    Model.Pager.TargetUrl = @Url.Action("Index");
}
@Html.Partial("_PagerPartial", Model.Pager)
