@model Shop.Net.Web.Areas.Catalog.Models.Product.ProductDetailsViewModel

@section MetaInformation {
    @Html.Partial("_SeoPartial", Model)
}

@{
    ViewBag.Title = Model.MetaTitle ?? Model.Name;
}

<div id="product-wrapper">
    <div class="row">
        @Html.Partial("_ImageGalleryPartial", Model)
        <div class="col-sm-7">
            <h4>@Model.Manufacturer @Model.Name</h4>
            @if (Model.Sku != null)
            {
                <span class="label label-default">Sku: @Model.Sku</span>
            }
            <hr />
            <p class="info text-justify">@Model.Description</p>
            <div id="social-container" class="pull-right">
                @Html.Partial("_SocialSharerPartial") 
            </div>
            <hr />
            @using (Ajax.BeginForm("Add", "Cart", new { area = string.Empty }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "order-count", InsertionMode = InsertionMode.Replace, Confirm = "Are you sure you want to add this item to the shopping Cart" }, new { id = "buy-form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.HiddenFor(m => m.Id)
                    @Html.LabelFor(m => m.OrderQuantity, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-2">
                        @Html.TextBoxFor(m => m.OrderQuantity, new { @class = "form-control", type = "number" })
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        <input type="submit" class="btn btn-success" value="Buy" />
                    }
                    else
                    {
                        @Html.ActionLink("Buy", "Login", "Account", new { area = string.Empty }, new { @class = "btn btn-warning" })
                    }
                </div>
                <div class="row">
                    @Html.ValidationMessageFor(model => model.OrderQuantity, string.Empty, new { @class = "text-danger col-sm-offset-1" })
                </div>
                <div id="results"></div>

            }
        </div>
    </div>
</div>
<hr/>
<div class="row" id="reviews-wrapper">
</div>
<button class="btn btn-success" id="review-button">Show reviews</button> 

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    var currentReviewPage = 0;
    var url = '@Url.Action("GetReviews", "Reviews", new { area = string.Empty, productId = @Model.Id })';
    var $reviewContainer = $('#reviews-wrapper');
    var $reviewbutton = $("#review-button");
    var allReviewsAreDownloaded = false;

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            if (!allReviewsAreDownloaded) {
                appendMoreReviews();
            }
        }
    });

    var appendMoreReviews = function () {
        $.ajax(
        {
            url: url + "&page=" + currentReviewPage,
            type: "GET",
            success: function (data) {
                if (data.length > 10) {
                    var $data = $(data);
                    $reviewContainer.append($data);
                    currentReviewPage += 1;
                    $(".rating").rating({
                        min: 0,
                        max: 5,
                        step: 1,
                        size: 'xs',
                        disabled: true,
                        showClear: false,
                        showCaption: false,
                        readonly: true
                    });
                } else if (currentReviewPage > 0) {
                    $reviewContainer.append('@Html.Label("There are no more reviews", new { @class = "text-warning"})');
                    $reviewbutton.remove();
                    allReviewsAreDownloaded = true;
                } else {
                    $reviewContainer.append('@Html.Label("There are no reviews for this product")');
                    $reviewbutton.remove();
                    allReviewsAreDownloaded = true;
                }
            }
        });
    }

    $reviewbutton.on("click", appendMoreReviews);
</script>