@model Shop.Net.Web.Areas.Catalog.Models.Product.ProductDetailsModel

@section MetaInformation {
    @Html.Partial("_SeoPartial", Model);
}
@{
    ViewBag.Title = Model.MetaTitle ?? Model.Name;
}

<div id="product-wrapper">
    <div class="row">
      @Html.Partial("_ImageGalleryPartial", Model)
        <div class="col-lg-6">
            <h4>@Model.Manufacturer @Model.Name</h4>
            @if (Model.Sku != null)
            {
                <span class="label label-default">Sku: @Model.Sku</span>
            }
            <hr />
            <p class="info text-justify">@Model.Description</p>
            <hr />
            @Html.Partial("_SocialSharerPartial")
            <hr />
        </div>
    </div>
</div>