@model Shop.Net.Web.Areas.BackOffice.Models.ProductEditModel

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.FriendlyUrl)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FriendlyUrl)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MetaTitle)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MetaTitle)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MetaDescription)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MetaDescription)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MetaKeyWords)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MetaKeyWords)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Sku)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Sku)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ManufacturerPartNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ManufacturerPartNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Manufacturer)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Manufacturer)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Price)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Price)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ProductCost)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ProductCost)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Weight)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Weight)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Height)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Height)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Length)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Length)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Width)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Width)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Quantity)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Quantity)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Published)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Published)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.AllowCustomerReviews)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AllowCustomerReviews)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.AllowCustomerComments)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AllowCustomerComments)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.AllowCustomerRating)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AllowCustomerRating)
    </dd>

</dl>

@if (Model.Images != null && Model.Images.Count > 0)
{
    <div class="form-group">
        @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Images)
            </div>
        </div>
    </div>
}
