@using System.Web.Mvc.Html
@model Shop.Net.Web.Areas.BackOffice.Models.ProductEditModel

@{
    ViewBag.Title = "Add Product";
}

@using (Html.BeginForm("Add", "Products", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>@ViewBag.Title</h2>
        <hr />
        @Html.EditorFor(model => model)
    </div>

    <fieldset id="form-upload">
        <legend>Upload Images</legend>
        <div class="form-group">
            <label for="file_0" class="control-label col-md-2">Filename:</label>
            <div class="col-md-10">
                <input class="form-control" type="file" name="file_0" id="file_0" />
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Create" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-info" })
            <span id="add-input-file" class="btn btn-success">Upload more files</span>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/filesManagment");
}
