@using System.Web.Mvc.Html
@model Shop.Net.Web.Areas.BackOffice.Models.ProductEditModel

@{
    ViewBag.Title = "Edit Category";
}

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>@ViewBag.Title - @Model.Name</h2>
        <hr />
        @Html.EditorFor(model => model)
    </div>
    <input type="file" name="FileUpload1" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-warning" value="Save Changes" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-info" })
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}